.form-horizontal{
	padding: 40px;
}
#search{
	
}
.jumbotron {
      height: 450px;
      color: #fff;
      padding: 50;
      font-family: Montserrat, sans-serif;
  }
.row{
	margin-left: 50px;
	margin-right: 50px;
     padding:20px; 
}
a:hover {
    background: #FFDD00;
    color: #AAAAAA;
}
.card{
	height: 100px;
	border: solid;
	box-shadow: 10px;
	z-index: 9999;
}
.card:hover {
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari 3-8 */
    transform: scale(1.2); 
}
.card-body{
	padding-top: 30px;
	text-align: center;
}

h1{
	padding: 25px;
	font-family:verdana;
}
#feed{
	height: 150px;
	width: 
}
#ABOUT{
	background-color: lightgray;
}
#EXPLORE{
	background-color: lightgray;
}
.container-fluid{
	padding: 50px;
}